:root {
  font-size: 62.5%; /* set default-fontsize to: 10px*/
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
 
  --clr-bg-body: #0a192f;

  --clr-font-shiny: #58e1c3;
  --clr-font-light: #ccd6f6;
  --clr-font-dark: #8892b0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-bg-body);
  /* position: relative; */
  font-family: var(--font-sans);
}

#main-wrapper {
  outline: 1px yellowgreen dashed;
  margin: 30px 60px;
  min-height: 100vh;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: var(--clr-font-dark);
  font-size: 2rem; /* 24px*/
  font-family: var(--font-mono);
}
